@charset "UTF-8";
body {
    font-family: "Hiragino Kaku Gothic PloN", "ヒラギノ角ゴ　PloN", Meiryo,;

    background-color:#da16bf;
    color:#ffffff;

    width: 100%;
}

table {
    width: 100%;
    height: 300pt;
}

tr{
    background-color: orange;
}
tr:last-child{
    background-color: gray;
}
td.red{
    background-color:red;  
}
th.white{
    background-color: darkgray;  
}
td.white{
    background-color: darkgray;  
}





